
@font-face {
  font-family: "Proxima Nova Regular";      
  src: url('../fonts/proxima-nova-regular-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova Black";      
  src: url('../fonts/proxima-nova-black-900-normal.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova semibold";      
  src: url('../fonts/proxima-nova-semibold-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova bold";      
  src: url('../fonts/proxima-nova-bold-bold-normal.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: fsalbertbold;      
  src: url('../fonts/fsalbertbold-normal-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "Proxima Nova Extrabold";      
  src: url('../fonts/proxima-nova-extrabold-800-normal.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
